:root {
    --color-background-primary: #15202b;
    --color-background-secondary: #1e2732;
    --color-text: #f1f4f4;
    --color-text-secondary: #707d89;
    --color-brand-primary: #198cd8;
    --color-brand-secondary: #1d9bf0;
}