.navbar__logoTitle {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-primary);
}

.logoWrapper {
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.logoWrapper svg {
    width: 40px;
    height: 40px;
}

.title {
    font-size: 32px;
    cursor: pointer;
}

.navbar__searchAdd {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbar__search {
    height: 40px;
    width: 250px;
    margin: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: var(--color-main);
}

i.fa-magnifying-glass {
    margin: 12px;
    color: darkgray;
}

.navbar__search__input {
    height: 24px;
    width: 180px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-text-primary);
    font-family: inherit;
    font-size: 15px;
}

.navbar__search__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgrey;
    opacity: 1; /* Firefox */
}

.navbar__search__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darkgrey;
}

.navbar__search__input::-ms-input-placeholder { /* Microsoft Edge */
    color: darkgrey;
}

.addBtn {
    height: 40px;
    width: 120px;
    margin: 10px 20px 10px 10px;
    border: none;
    border-radius: 12px;
    color: var(--color-main);
    background: var(--color-button);
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.35s ease-out;
}

.addBtn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.fa-plus {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    
    .navbar__search {
        width: 150px;
    }

    .addBtn {
        width: 100px;
    }


}
