:root {
    --color-main: #ffffff;
    --color-secondary: #f4f5f7;
    --color-text-primary: #060608;
    --color-text-secondary: #909093;
    --color-button: linear-gradient(to right, #5478fc, #cb8bfb);
    --color-active: #01ad02;
    --color-inactive: #fe310b;
    --color-link-hover: #4792e6;
}